<% include partials/header.ejs %>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h3>Register Using The Form Below...</h3>
				<form action="/register" method="POST">
					<div>
						<label>NAME:</label>
						<input type="text" name="name" class="form-control" required="">
					</div>
					<div>
						<label>EMAIL:</label>
						<input type="email" name="email" class="form-control" required="">
					</div>
					<div>
						<label>USERNAME:</label>
						<input type="text" name="username" class="form-control" required="">
					</div>
					<div>
						<label>PASSWORD:</label>
						<input type="password" name="password" class="form-control" required="">
					</div>
					<div>
						<label>CONFIRM PASSWORD:</label>
						<input type="password" name="confpassword" class="form-control" required="">
					</div><br>
					<div>
						<input type="submit" name="submit" class="btn btn-info" value="Register" required="">
					</div>
				</form>
			</div>
		</div>
	</div>
<% include partials/footer.ejs%>